.aboutCont{
  color: white;
  background-color: rgb(54, 54, 54);
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 2rem;
}

.aboutCont p{
  margin: 0 10px 0 10px;
  margin-top: 2rem;
}
.aboutCont a{
  margin: 0 10px 0 10px;
  color: gold;
/* font-size: 2rem; */
}

@media (max-width: 900px) {
  .aboutCont{
    font-size: 1.5rem;
  }
}
